@import "bitters/grid-settings";
@import "neat/neat";

$small-screen:max-width 480px;
$medium-screen:max-width 680px;


$brand-color: darken(red, 20%);
$dark: lighten(black, 20%);

html {
	border-top: 8px solid $brand-color;
	height: 100%;
}

body {
	min-height: 100%;
	height: auto !important;
	margin-left: 1em;
	margin-right: 1em;
}

header {
	@include outer-container();
	margin-top: 1em;
}


.logo {
	display: block;
	@include span-columns(4);
		img {
		width: 8em;
		height: auto;
		}


}

.menu {
	@include span-columns(8);
	vertical-align: middle;
	font-weight: bold;
	color: lighten(black, 20%);
	text-align: right;
	margin-top: 1rem;
	a {	
	padding: .5em .75em .5em .75em;
	-webkit-transition: background .25s ease;
	-moz-transition: background .25s ease;
	-o-transition: background .25s ease;
	transition: background .25s ease;
	&:hover {background-color: lighten(gray,40);}
	}
	

}


.featured {
	@include outer-container;
	margin-bottom: 1em;	
	}


.case-study {
	@include outer-container;

	.video {
		text-align: left;
		@include span-columns(6);
		@include media ($medium-screen) {
			@include span-columns(12);
		}
	}

	.text {
		h2 {margin-top: 0px;}
		@include span-columns(6);
			@include media ($medium-screen) {
			@include span-columns(12);
			margin-top: .75em;
			}

}
}

button {
	@include button;
}

footer {
	@include outer-container();
	margin-top: 1rem;
	margin-bottom: 0;
	height: 8rem;
	padding: 2rem 0;
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.05);
	box-shadow: 0 -1px 0 rgba(0,0,0,0.05);



	.social {
		@include span-columns(4);
		text-align: left;
			@include media($small-screen) {
			@include span-columns(12);
			text-align: center;
		}
		}


	.cta {
		@include span-columns(4);
		font-size: small;
		text-align: left;
			@include media($small-screen) {
			@include span-columns(12);
			text-align: center;
			border-bottom: 0.5px solid gray;
	}
}

	.copyright {
		@include span-columns(4);
		font-size: small;
		text-align: right;
		margin-right: 1em;
		@include media($small-screen) {
			@include span-columns(12);
			text-align: center;
		}

	}
}
